<h1>Listing users</h1>
<%= link_to 'New User', new_user_path %><br />
<% if session[:user_id] %>
     <div class="thumbnail">
        <%= image_tag @my_profile.photo %>
        <ul>
            <li>User Name: <%= @my_profile.username %></li>
            <li>First Name: <%= @my_profile.first_name %></li>
            <li>Last Name: <%= @my_profile.last_name %></li>
            <li>Address: <%= @my_profile.address %></li>
            <li>More Address: <%= @my_profile.address2 %></li>
            <li>City: <%= @my_profile.city %></li>
            <li>State: <%= @my_profile.state %></li>
            <li>Zip: <%= @my_profile.zip %></li>
            <li><button type="button"><%= link_to 'Destroy', @my_profile, method: :delete, data: { confirm: 'Are you sure?' } %></button></li>
            <li><button type="button"><%= link_to 'Edit', edit_user_path(@my_profile) %></button></li>
            <li><button type="button"><%= link_to 'Show', @my_profile %></button></li>
        </ul>
    </div>
<% end %>
<% @users.each do |user| %>
    <% if (user.id.to_i != session[:user_id].to_i) %>
        <div class="thumbnail">
            <%= image_tag user.photo %>
            <ul>
                <li>User Name: <%= user.username %></li>
                <li>First Name: <%= user.first_name %></li>
                <li>Last Name: <%= user.last_name %></li>
                <li>Address: <%= user.address %></li>
                <li>More Address: <%= user.address2 %></li>
                <li>City: <%= user.city %></li>
                <li>State: <%= user.state %></li>
                <li>Zip: <%= user.zip %></li>

                <li><button type="button"><%= link_to 'Show', user %></button></li>
            </ul>
        </div>
    <% end %>
<% end %>