			<div id="head_bar">
				<h1 id="populi">Populi</h1>
				<ul class="menu_bar" id="navbar">
					<li><a href="/">Home</a></li>
					<li>What is Populi?</li>
					<li><a href="/campaigns/">Campaigns</a></li>
					<li><a href="/users">Candidates</a></li>
					<li><a href="http://vox.p.opu.li">Blog</a>
					<li><a href="/campaigns/mine">Campaign Control Panel</a></li>
					  <% if current_user %>
					    <li>Logged in as <%= current_user.email %>.</li>
					    <li><%= link_to "Log out", log_out_path %></li>
					    <li><a href="http:/users/<%= session[:user_id] %>"> My Profile </a></li>
					  <% else %>
					    <li><%= link_to "Sign up", sign_up_path %> or</li>
					    <li><%= link_to "log in", log_in_path %></li>
					  <% end %>
				</ul>
			</div>