<%= simple_form_for(@campaign) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :office %>
    <%= f.input :locality_type %>
    <%= f.input :locality %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :goal %>
    Start Date<br /><%= f.date_select :start %>
    <br />End Date<br /><%= f.date_select :end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
