<h1>Listing campaigns</h1>

<% @campaigns.each do |campaign| %>
    <div class="thumbnail">
      <ul>
        <li>Candidate: <%= campaign.user_id %></li>
        <li>Office: <%= campaign.office %></li>
        <li><%= campaign.locality_type %> Of</li>
        <li><%= campaign.locality %></li>
        <li>State: <%= campaign.state %></li>
        <li>Zip: <%= campaign.zip %></li>
        <li>Funding Goal: <%= campaign.goal %></li>
        <li>Current Funding: <%= campaign.funded %></li>
        <li>Campaign Start Date: <%= campaign.start %></li>
        <li>Campaign End Date: <%= campaign.end %></li>
        <li><%= link_to 'Show', campaign %></li>
      </ul>
    </div>
<% end %>
