<% if @campaign.user_id.to_i == session[:user_id] %>
  <%= link_to 'Edit', edit_campaign_path(@campaign) %> | 
<% end %>
<%= link_to 'Back', campaigns_path %><br />

<div class="thumbnail">
              <%= image_tag @candidate.photo %>
              <h2><%= @candidate.first_name %> <%= @candidate.last_name %></h2>
              <%= @campaign.state %> <%= @campaign.locality_type %> <%= @campaign.locality %><br />
              <%= @campaign.office %>
              <table>
                  <thead>
                      <th>Goal:</th>
                      <th>Pledged:</th>
                      <th>End date</th>
                  </thead>
                  <tbody>
                      <td><%= @campaign.goal %></td>
                      <td><%= @campaign.funded %></td>
                      <td><%= @campaign.end %></td>
                  </tbody>
              </table>
              <% if current_user %>
                <%= form_tag do %>
                  <%= label_tag(:donate, "Donate to this campaign: ") %>
                  <%= number_field( params[:donate], "donation", :step => 0.01) %>
                  <%= submit_tag("Donate") %>
                <% end %>
              <% end %>
          </div>

